{% extends "base.html" %}
{% load html_attrs %}

{% block content %}
<form role="form" method="post" enctype="multipart/form-data" novalidate>
{% csrf_token %}
    <div class="post_form__contaner">
        <div class="card">
            <div class="card-header">
                Добавление поста
            </div>
            <div class="card-body">
                <div class="form-group">
                    {{ form.text_rus.label_tag }}
                    {% if form.text_rus.errors %}
                        {{ form.text_rus|html_attrs:'"class": "form-control is-invalid"' }}
                    {% else %}
                        {{ form.text_rus|html_attrs:'"class": "form-control"' }}
                    {% endif %}
                    <h5 class="text-red">{{ form.text_rus.errors }}</h5>
                </div>
                <div class="form-group">
                    {{ form.text_eng.label_tag }}
                    {% if form.text_eng.errors %}
                        {{ form.text_eng|html_attrs:'"class": "form-control is-invalid"' }}
                    {% else %}
                        {{ form.text_eng|html_attrs:'"class": "form-control"' }}
                    {% endif %}
                    <h5 class="text-red">{{ form.text_eng.errors }}</h5>
                </div>
                <div class="form-group">
                    {{ form.text_uzb.label_tag }}
                    {% if form.text_uzb.errors %}
                        {{ form.text_uzb|html_attrs:'"class": "form-control is-invalid"' }}
                    {% else %}
                        {{ form.text_uzb|html_attrs:'"class": "form-control"' }}
                    {% endif %}
                    <h5 class="text-red">{{ form.text_uzb.errors }}</h5>
                </div>
                <div class="form-group">
                    {{ form.desposition.label_tag }}
                    {% if form.desposition.errors %}
                        {{ form.desposition|html_attrs:'"class": "form-control is-invalid"' }}
                    {% else %}
                        {{ form.desposition|html_attrs:'"class": "form-control"' }}
                    {% endif %}
                    <h5 class="text-red">{{ form.desposition.errors }}</h5>
                </div>
                <div class="form-group">
                    {{ form.image.label_tag }}
                    {% if form.image.errors %}
                        {{ form.image|html_attrs:'"class": "form-control is-invalid"' }}
                    {% else %}
                        {{ form.image|html_attrs:'"class": "form-control"' }}
                    {% endif %}
                    <h5 class="text-red">{{ form.image.errors }}</h5>
                </div>
                <div class="form-group">
                    {{ form.video.label_tag }}
                    {% if form.video.errors %}
                        {{ form.video|html_attrs:'"class": "form-control is-invalid"' }}
                    {% else %}
                        {{ form.video|html_attrs:'"class": "form-control"' }}
                    {% endif %}
                    <h5 class="text-red">{{ form.video.errors }}</h5>
                </div>
                <div class="form-group">
                    {{ form.document.label_tag }}
                    {% if form.document.errors %}
                        {{ form.document|html_attrs:'"class": "form-control is-invalid"' }}
                    {% else %}
                        {{ form.document|html_attrs:'"class": "form-control"' }}
                    {% endif %}
                    <h5 class="text-red">{{ form.document.errors }}</h5>
                </div>
                <div class="form-group">
                    {{ form.is_published.label_tag }}
                    {{ form.is_published|html_attrs:'"class": "form-control"' }}
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Сохранить</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}