{% extends "base.html" %}
{% load html_attrs %}

{% block content %}
<form role="form" method="post" enctype="multipart/form-data" novalidate>
{% csrf_token %}
    <div class="post_form__contaner">
        <div class="card">
            <div class="card-header">
                Добавление города
            </div>
            <div class="card-body">
                <div class="form-group">
                    {{ form.ru_name.label_tag }}
                    {% if form.ru_name.errors %}
                        {{ form.ru_name|html_attrs:'"class": "form-control is-invalid"' }}
                    {% else %}
                        {{ form.ru_name|html_attrs:'"class": "form-control"' }}
                    {% endif %}
                    <h5 class="text-red">{{ form.ru_name.errors }}</h5>
                </div>
                <div class="form-group">
                    {{ form.uz_name.label_tag }}
                    {% if form.uz_name.errors %}
                        {{ form.uz_name|html_attrs:'"class": "form-control is-invalid"' }}
                    {% else %}
                        {{ form.uz_name|html_attrs:'"class": "form-control"' }}
                    {% endif %}
                    <h5 class="text-red">{{ form.uz_name.errors }}</h5>
                </div>
                <div class="form-group">
                    {{ form.en_name.label_tag }}
                    {% if form.en_name.errors %}
                        {{ form.en_name|html_attrs:'"class": "form-control is-invalid"' }}
                    {% else %}
                        {{ form.en_name|html_attrs:'"class": "form-control"' }}
                    {% endif %}
                    <h5 class="text-red">{{ form.en_name.errors }}</h5>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Сохранить</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
