{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ users_count }}</h3>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <div class="box-title">
                        Пользователей
                    </div>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <div class="card card-info card-report">
        <div class="card-header">
            <h3 class="card-title">Выгрузка отчета</h3>
        </div>
        <div class="card-body">
            <form role="form" action="" method="post" novalidate>
                <div class="form-group">
                    <label>Период</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                        </div>
                        <input type="text" name="report_daterange" class="form-control float-right" id="report_daterange">
                    </div>
                    <!-- /.input group -->
                </div>
                <button type="submit" class="btn btn-info">Выгрузить</button>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}